:root {
  --SLIDE-TO: -50%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paginationContainer {
  padding-top: 10px;
  gap: 10px; 
}

.navigationButtons {
  all: unset;
  position: relative;
  height: max-content;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  overflow: hidden;
}

.navigationButtons:before {
  content: '';
  position: absolute;
  background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%; 
  background-size: 50% 100%;
}

.navigationButtons:nth-of-type(1):hover:before {
  animation: slide-background 0.75s infinite linear;
}

.navigationButtons:nth-of-type(2):hover:before {
  left: unset;
  right: 0;
  --SLIDE-TO: 50%;
  animation: slide-background 0.75s infinite linear;
}

@keyframes slide-background {
  to {
    transform: translateX(var(--SLIDE-TO));
  }
}

.navigationButtons > span {
  padding: 5px 15px;
  margin: 3px;
  transition: all;
  transition-duration: 300ms;
  background: #282c34;
  position: relative;
  z-index: 1;
  display: block;
}

.navigationButtons > span:hover {
  background: #404652;
} 

.searchText {
  height: max-content;
  padding: 9.5px 15px;
  outline: none;
  border-radius: 3px;
  border: 0;
}

.characterCardLabel {
  padding: 0px 10px;
  text-align: center
}

@media (max-width: 600px) {
  .characterCardLabel {
    font-size: 0.8rem;
  }
}

@media (max-width: 390px) {
  .navigationButtons {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .navigationButtons > span {
    text-align: center;
  }

  .searchText {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

}

.emptyBody {
  flex: 1;
}